body{
  font-family:CustomFont, 'Courier New', Courier, monospace;
  background: #fdfdfd;
  color: black;
}

.site-header{
  padding-bottom: 15px;
  border-bottom: 1px solid #cecaca
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
}

.about-img{
  display: block;
  float: right; 
  padding-bottom: 50px;
  padding-left: 50px
}

.about-text{
  display: block;
  padding-left:15px;
  padding-right: 15px;
  padding-top:60px;
  font-size: larger;
  min-width: 200px;
  max-width: 800px; 
  
  margin-left: auto;
  margin-right: auto;
}

.site-title{
  color: #424242;
  font-weight: 300;
  font-size: 35px;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  transition: border-bottom 0.1s;
  white-space: nowrap;
  padding-right: 8px;
}

.f-list{
  padding-left:0px;
}
.page-link{
  color: #424242;
  font-weight: 100;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  transition: border-bottom 0.1s;
  padding: 7px;
  padding-bottom: 0px;
}

.site-footer{
  display: block;
  border-top: 1px solid #cecaca;
  color: #424242;
  padding: 15px;
  margin-top:70px;
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.f-wrapper{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
}

.f-col1{
  float: left;
  vertical-align: middle;
  span{
    color: rgb(0, 0, 255);
    font-weight: 300;
    text-decoration: none;
  }
}

.f-list li{
  display: flex;
  list-style: none;
  align-items: center;
  a{
    padding-left: 5px;
  }
}

.f-col2{
  float: right;
}

.footer-links{
  text-decoration: none;
}

.page-link:hover,.site-title:hover, .footer-links:hover{
  border-bottom: 1px solid #000000;
}

.bucketList-main,.bookList-main,.projects-main{
  display: block;
  padding-left:15px;
  padding-right: 15px;
  padding-top:30px;
  min-width: 200px;
  max-width: 800px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.aboutme-link{
  text-decoration: none;
}

.aboutme-link:hover{
  text-decoration: underline;
}

.aboutme-link:visited{
  color: blue;
}

@font-face {
  font-family: "CustomFont";
  src: url("CustomFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

