body{
  font-family:CustomFont, 'Courier New', Courier, monospace;
  background: #fdfdfd;
  color: black;
}

.wrapper{
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-title{
  color: #424242;
  font-weight: 300;
  font-size: 35px;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  transition: border-bottom 0.1s;
  white-space: nowrap;
}

.page-link{
  color: #424242;
  font-weight: 100;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  transition: border-bottom 0.1s;
  padding: 7px;
  padding-bottom: 0px;
}

.page-link:hover,.site-title:hover {
  border-bottom: 1px solid #000000;
}

.links-nav{
  display: flex;
  flex-wrap: wrap;
  margin-left: 25px;
}

.about-img{
  float: right; 
  padding:50px;
  height: auto;
  max-width: 100%;
}

.about-text{
  padding-left:100px;
  padding-top:30px;
  font-size: larger;
  min-width: 200px;
  max-width: 800px;
}

.bucketList-main,.bookList-main,.projects-main{
  padding-left: 100px;
}

.aboutme-link{
  text-decoration: none;
}

.aboutme-link:hover{
  text-decoration: underline;
}

.aboutme-link:visited{
  color: blue;
}

@font-face {
  font-family: "CustomFont";
  src: url("CustomFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

